{% extends 'base.html.twig' %}


{% block stylesheet %}  
<link rel="stylesheet" href="{{ asset('build/css/login.css') }}" type="text/css" />
{% endblock %}



        {% block body %}
 

        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey }}
            </div>
        {% endif %}

        <div class="login">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Connexion</h2>


             <form action="{{ path('security_connexion') }}" method="post" id="connexion" class="login-container"">
               <p>  <input name="_username"
                       value="{{ last_email }}"
                       class="form-control" required type="email"
                       placeholder="Saisissez votre Email"></p>
                 <p> <input name="_password"
                       class="form-control" required type="password"
                       placeholder="*******"> </p>
                <input type="hidden" name="_target_path" value="/register" />
                <p><input type="submit" value="Connexion"></p>
            </form>
</div>

{% endblock %}