{% extends 'base.html.twig' %}

        {% block body %}
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey }}
            </div>
        {% endif %}


            <form action="{{ path('security_connexion') }}" method="post" id="connexion">
                <input name="_username"
                       value="{{ last_email }}"
                       class="form-control" required type="email"
                       placeholder="Saisissez votre Email">
                <input name="_password"
                       class="form-control" required type="password"
                       placeholder="*******">
                <input type="hidden" name="_target_path" value="/register" />
                <button type="submit" class="connexion-envoi">login</button>
            </form>


{% endblock %}