    {% extends 'base.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('build/css/form.css') }}" type="text/css"/>
    
    {% endblock %}

    {% block title %}Créer votre projet{% endblock %}

    {% block body %}


    {{include("articles/form.html.twig")}}
</div>
</div>

    {% endblock %}
