{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <a href="{{ path('security_login')}}"> Connexion</a>
    <a href="{{ path('user_registration')}}"> Inscription</a>
    <a href="{{ path('dashboard')}}"> Administration</a>

    <h3>Ajouter un article</h3>

{% endblock %}
