{% extends 'base.html.twig' %}

{% block title %}BIZMAKER{% endblock %}

{% block body %}

<<<<<<< HEAD
<h1> BONJOUR </h1>
=======

    <h3>Accueil</h3>
    {#{{ app.user.id }}#}
>>>>>>> 30bd1d601bc5b3e4113e5ef44ebb93aa00440213

{% endblock %}
