{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Publié ?</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.publish }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
